<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이둘나라</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/css/book/list.css}">
</head>
<body>
<th:block th:replace="navbar :: navbar"></th:block>

<div class="container">
  <!-- 검색창 -->
  <div class="search-container">
    <form action="#" th:action="@{/mbtkids/book/list}" method="get" class="search-form">
      <input type="text"
             name="searchWord"
             class="search-input"
             placeholder="찾고 싶은 책을 검색해보세요!"
             autocomplete="off">
      <button class="search-button" type="submit">
        <i class='bx bx-search'></i>
        검색
      </button>
    </form>
  </div>

  <div class="header-actions">
    <h2>
      <i class='bx bxs-book-heart'></i>
      도서 목록
    </h2>
    <a th:href="@{/mbtkids/home}" class="home-button">
      <i class='bx bx-home'></i>
      홈으로 돌아가기
    </a>
  </div>

  <div class="books-grid">
    <div class="book-card" th:each="book : ${ResBookList}">
      <a th:href="@{/mbtkids/book/detail(bookId=${book.bookId})}" class="book-link">
        <div class="book-image-container">
          <img th:src="${book.bookImgUrl}" alt="책 이미지" class="book-image"/>
        </div>
        <div class="book-info">
          <h3 class="book-title" th:text="${book.bookName}">도서명</h3>
          <p class="book-details">
            <i class='bx bxs-user'></i>
            <span th:text="${book.writer}">작가명</span>
          </p>
          <p class="book-details">
            <i class='bx bxs-buildings'></i>
            <span th:text="${book.publisher}">출판사</span>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>