@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* 색상 설정 */
:root {
  --main-color: #ffe552;
  --dark-color: #404040;
}

/* 네비게이션 */
.navbar {
  font-family: 'Pretendard-Bold';
  background-color: var(--main-color);
  color: #332217;
}

.navbar-brand {
  color: #332217 !important;
}

.navbar-brand:hover {
  color: #ddd;
}