<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>아이들나라</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:href="@{/css/home.css}" rel="stylesheet"/>
  <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
  <style>
    .horizontal-scroll {
      display: flex;
      overflow-x: scroll;
      white-space: nowrap;
    }

    .horizontal-scroll .card {
      min-width: 200px; /* 카드 크기 설정 */
      margin-right: 10px; /* 카드 간 간격 설정 */
    }

    /* 세로로 10개 제한 */
    .vertical-limit {
      max-height: calc(200px * 10); /* 카드 높이 x 10 */
      overflow-y: hidden;
    }
  </style>
</head>
<body>
<!-- (상단 레이아웃) 네비게이션 바 -->
<th:block th:replace="navbar :: navbar"></th:block>

<!-- 본문 내용 -->
<div class="container mt-5 vertical-limit">

  <!-- 아이 성향 추천 -->
  <div th:if="${similarBooks.getCount() > 0}">
    <h2>아이 성향 추천</h2>
    <div class="horizontal-scroll">
      <div class="card" th:each="book : ${similarBooks.getItems()}">
        <a th:href="@{/book/detail(bookId=${book.bookId})}">
          <img th:src="${book.bookImgUrl}" class="card-img-top" alt="책 이미지" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title" th:text="${book.bookName}">도서명</h5>
            <p class="card-text">작가: <span th:text="${book.writer}">작가명</span></p>
            <p class="card-text">출판사: <span th:text="${book.publisher}">출판사</span></p>
          </div>
        </a>
      </div>
    </div>

    <div class="text-center" th:if="${similarBooks.isNextPage(currentPage, pageSize)}">
      <a th:href="@{/mbtkids/books(type='SIMILAR', page=${currentPage}, size=${pageSize})}"
         class="btn btn-primary">더보기</a>
    </div>
  </div>

  <!-- 반대 성향 추천 -->
  <div th:if="${oppositeBooks.getCount() > 0}">
    <h2>반대 성향 추천</h2>
    <div class="horizontal-scroll">
      <div class="card" th:each="book : ${oppositeBooks.getItems()}">
        <a th:href="@{/book/detail(bookId=${book.bookId})}">
          <img th:src="${book.bookImgUrl}" class="card-img-top" alt="책 이미지" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title" th:text="${book.bookName}">도서명</h5>
            <p class="card-text">작가: <span th:text="${book.writer}">작가명</span></p>
            <p class="card-text">출판사: <span th:text="${book.publisher}">출판사</span></p>
          </div>
        </a>
      </div>
    </div>

    <div class="text-center" th:if="${oppositeBooks.isNextPage(currentPage, pageSize)}">
      <a th:href="@{/mbtkids/books(type='OPPOSITE', page=${currentPage}, size=${pageSize})}"
         class="btn btn-primary">더보기</a>
    </div>
  </div>

  <!-- 유사 성향 아이들 추천 -->
  <div th:if="${likedBooks.getCount() > 0}">
    <h2>유사 성향 아이들 추천</h2>
    <div class="horizontal-scroll">
      <div class="card" th:each="book : ${likedBooks.getItems()}">
        <a th:href="@{/book/detail(bookId=${book.bookId})}">
          <img th:src="${book.bookImgUrl}" class="card-img-top" alt="책 이미지" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title" th:text="${book.bookName}">도서명</h5>
            <p class="card-text">작가: <span th:text="${book.writer}">작가명</span></p>
            <p class="card-text">출판사: <span th:text="${book.publisher}">출판사</span></p>
          </div>
        </a>
      </div>
    </div>

    <div class="text-center" th:if="${likedBooks.isNextPage(currentPage, pageSize)}">
      <a th:href="@{/mbtkids/books(type='LIKE', page=${currentPage}, size=${pageSize})}"
         class="btn btn-primary">더보기</a>
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>
