<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이둘나라</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container">
  <!-- 검색창 추가 -->
  <div class="search-container">
    <form action="#" th:action="@{/mbtkids/book/list}" method="get" class="search-form">
      <input type="text"
             name="searchWord"
             class="search-input"
             placeholder="찾고 싶은 책을 검색해보세요!"
             autocomplete="off">
      <button class="search-button" type="submit">
        <i class='bx bx-search'></i>
        검색
      </button>
    </form>
  </div>
  <!-- 아이 성향 추천 -->
  <div th:if="${similarBooks.getCount() > 0}">
    <h2><i class='bx bxs-heart'></i>아이 성향 추천</h2>
    <div class="horizontal-scroll">
      <div class="card" th:each="book : ${similarBooks.getItems()}">
        <a th:href="@{/mbtkids/book/detail(bookId=${book.bookId})}">
          <img th:src="${book.bookImgUrl}" class="card-img-top" alt="책 이미지">
          <div class="card-body">
            <h5 class="card-title" th:text="${book.bookName}"></h5>
            <p class="card-text"><i class='bx bxs-user'></i> <span
                th:text="${book.writer}">작가명</span></p>
            <p class="card-text"><i class='bx bxs-buildings'></i> <span th:text="${book.publisher}">출판사</span>
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="text-center" th:if="${similarBooks.isNextPage(currentPage, pageSize)}">
      <a th:href="@{/mbtkids/books(type='SIMILAR', page=${currentPage}, size=${pageSize})}"
         class="btn btn-primary">더 많은 책 보기 <i class='bx bx-right-arrow-alt'></i></a>
    </div>
  </div>

  <!-- 반대 성향 추천 -->
  <div th:if="${oppositeBooks.getCount() > 0}">
    <h2><i class='bx bxs-star'></i>새로운 발견</h2>
    <div class="horizontal-scroll">
      <div class="card" th:each="book : ${oppositeBooks.getItems()}">
        <a th:href="@{/mbtkids/book/detail(bookId=${book.bookId})}">
          <img th:src="${book.bookImgUrl}" class="card-img-top" alt="책 이미지" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">
              <a th:href="@{/mbtkids/book/detail(bookId=${book.bookId})}"
                 th:text="${book.bookName}"></a>
            </h5>
            <p class="card-text">작가: <span th:text="${book.writer}">작가명</span></p>
            <p class="card-text">출판사: <span th:text="${book.publisher}">출판사</span></p>
          </div>
        </a>
      </div>
    </div>

    <div class="text-center" th:if="${oppositeBooks.isNextPage(currentPage, pageSize)}">
      <a th:href="@{/mbtkids/books(type='OPPOSITE', page=${currentPage}, size=${pageSize})}"
         class="btn btn-primary">더보기</a>
    </div>
  </div>

  <!-- 유사 성향 아이들 추천 -->
  <div th:if="${likedBooks.getCount() > 0}">
    <h2><i class='bx bxs-group'></i>친구들이 좋아하는 책</h2>
    <div class="horizontal-scroll">
      <div class="card" th:each="book : ${likedBooks.getItems()}">
        <a th:href="@{/mbtkids/book/detail(bookId=${book.bookId})}">
          <img th:src="${book.bookImgUrl}" class="card-img-top" alt="책 이미지" style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title">
              <a th:href="@{/mbtkids/book/detail(bookId=${book.bookId})}"
                 th:text="${book.bookName}"></a>
            </h5>
            <p class="card-text">작가: <span th:text="${book.writer}">작가명</span></p>
            <p class="card-text">출판사: <span th:text="${book.publisher}">출판사</span></p>
          </div>
        </a>
      </div>
    </div>

    <div class="text-center" th:if="${likedBooks.isNextPage(currentPage, pageSize)}">
      <a th:href="@{/mbtkids/books(type='LIKE', page=${currentPage}, size=${pageSize})}"
         class="btn btn-primary">더보기</a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
