@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* 색상 설정 */
:root {
  --main-color: #ffe552;
  --highlight-color: #ff9900;
  --dark-color: #404040;
  --text-color: #404040;
}

/* 본문 */
.container {
  font-family: 'Pretendard-Regular';
  margin-bottom: 50px;
  text-align: center;
  color: var(--dark-color);
}

/* 타이틀 */
#title {
  color: #ffc107;
  font-weight: 600;
  margin-bottom: 0.6em;
}

.result-title {
  font-family: 'Pretendard-Bold';
  color: var(--text-color);
  margin-bottom: 1em;
}

.highlight {
  color: var(--highlight-color);
}

.result-img {
  width: 50%;
  margin: 0 auto;
}

.description {
  font-size: 1.2em;
  margin-top: 1em;
}
