@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

:root {
  --main-color: #ffe552;
  --secondary-color: #FF9EAA;
  --accent-color: #91D8E4;
  --sky-blue: #D1E9FFFF;
  --dark-color: #332217;
  --background-color: #FFF5E4;
}

body {
  background-color: var(--background-color);
  color: var(--dark-color);
  font-family: 'Pretendard-Regular', sans-serif;
}

/* 본문 중앙 정렬 및 반응형 레이아웃 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.white {
  padding: 1.6em;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* 타이틀 스타일 */
#title {
  color: var(--dark-color);
  font-weight: bold;
  font-size: 2em;
  margin-top: -30px;
}

/* 반응형 레이더 차트 */
#mbtiRadarChart {
  width: 30vw;
  height: 30vw;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

/* MBTI 유형 텍스트 */
.mbti-type {
  font-family: 'Pretendard-Bold';
  font-size: 1.5em;
  color: var(--dark-color);
  margin: 0.8em 0;
}

/* 형용사 */
.suffix {
  font-family: 'Pretendard-Bold';
  font-size: 2.5em;
  color: var(--secondary-color);
  margin-top: 0.8em;
}

/* 이모지 */
.emoji {
  font-size: 6em;
  margin: 0.5em;
}

/* 설명 */
.description {
  background-color: #fff0c6;
  color: #613c22;
  padding: 1.5em;
  border-radius: 20px;
  font-size: 1em;
  margin: 0.2em;
  text-align: left;
}

/* 버튼 스타일 */
.btn-history, .btn-delete {
  display: block;
  width: 30em;
  padding: 15px;
  border-radius: 15px;
  font-size: 19px;
  font-family: 'Pretendard-Bold';
  transition: background-color 0.3s, color 0.3s;
}

.btn-history {
  background-color: var(--sky-blue);
  color: #007bff;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  margin-bottom: 1.5em;
}

.btn-history:hover {
  filter: brightness(75%);
}

.btn-delete:hover {
  filter: brightness(90%);
}

.btn-history:active, .btn-delete:active {
  filter: brightness(100%);
  color: #000;
}

.dateform{
  margin-bottom: 3rem !important;
}
