<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이둘나라-관리자</title>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<form action="/mbtkids/admin/login" method="POST">
  <input type="text" id="adminLoginId" name="adminLoginId" placeholder="아이디">
  <input type="password" id="password" name="password" placeholder="비밀번호">
  <button>시작하기</button>
</form>
</body>
</html>
