<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/parent/home.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="login">
  <div class="login__content">
    <div class="login__img">
      <img
          src="https://image.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg"
          alt="user login">
    </div>
    <div class="login__forms">

      <!-- 로그인 폼 -->
      <form action="/mbtkids/login" method="POST" class="login__register block" id="login-in">
        <h1 class="login__title">Sign In</h1>
        <div class="login__box">
          <i class='bx bx-user login__icon'></i>
          <input type="text" id="loginIdOrEmail" name="loginIdOrEmail"
                 placeholder="Username or Email" class="login__input" required>
        </div>
        <div class="login__box">
          <i class='bx bx-lock login__icon'></i>
          <input type="password" id="password" name="password" placeholder="Password"
                 class="login__input" required>
        </div>
        <a href="#" class="login__forgot">Forgot Password?</a>
        <button type="submit" class="login__button">Sign In</button>

        <div>
          <span class="login__account">Don't Have an Account?</span>
          <span class="login__signin" id="sign-up">Sign Up</span>
        </div>
      </form>

      <!-- 회원가입 폼 -->
      <form th:action="@{/mbtkids/register}" method="post" class="login__create none" id="login-up">
        <h1 class="login__title">Create Account</h1>
        <div class="login__box">
          <i class='bx bx-user login__icon'></i>
          <input type="text" id="parentLoginId" name="parentLoginId" placeholder="Login ID"
                 class="login__input" required>
        </div>
        <div class="login__box">
          <i class='bx bx-at login__icon'></i>
          <input type="email" id="email" name="email" placeholder="Email" class="login__input"
                 required>
        </div>
        <div class="login__box">
          <i class='bx bx-lock login__icon'></i>
          <input type="password" id="join_password" name="password" placeholder="Password"
                 class="login__input" required>
        </div>
        <div class="login__box">
          <i class='bx bx-user-circle login__icon'></i>
          <input type="text" id="userName" name="userName" placeholder="User Name"
                 class="login__input">
        </div>
        <div class="login__box">
          <i class='bx bx-phone login__icon'></i>
          <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number"
                 class="login__input">
        </div>
        <div class="login__box">
          <label for="infoAgreeYn">Agree to Terms:</label>
          <input type="hidden" name="infoAgreeYn" value="false">
          <input type="checkbox" id="infoAgreeYn" name="infoAgreeYn" value="true">
        </div>
        <button type="submit" class="login__button">Sign Up</button>

        <div>
          <span class="login__account">Already have an Account?</span>
          <span class="login__signup" id="sign-in">Sign In</span>
        </div>

        <div class="login__social">
          <a href="#" class="login__social--icon"><i class='bx bxl-google'></i></a>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- JavaScript 코드 추가 -->
<script>
  const signup = document.getElementById("sign-up");
  const signin = document.getElementById("sign-in");
  const loginin = document.getElementById("login-in");
  const loginup = document.getElementById("login-up");

  signup.addEventListener("click", () => {
    loginin.classList.remove("block");
    loginin.classList.add("none");

    loginup.classList.remove("none");
    loginup.classList.add("block");
  });

  signin.addEventListener("click", () => {
    loginin.classList.remove("none");
    loginin.classList.add("block");

    loginup.classList.remove("block");
    loginup.classList.add("none");
  });
</script>
</body>
</html>

