<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>아이둘나라</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:href="@{/css/parent/home.css}" rel="stylesheet"/>
  <link th:href="@{/css/parent/navbar.css}" rel="stylesheet"/>
</head>
<body>
<!-- (상단 레이아웃) 네비게이션 바 -->
<th:block th:replace="navbar :: navbar"></th:block>

<!-- 본문 내용 -->
<div class="container mt-5">
  <h3>로그인</h3>
  <form action="/mbtkids/login" method="POST">
    <label for="loginIdOrEmail">아이디 또는 이메일:</label>
    <input type="text" id="loginIdOrEmail" name="loginIdOrEmail" required><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">로그인</button>
  </form>
  <a href="/oauth2/authorization/google">구글 로그인</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>