<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>아이둘나라</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link th:href="@{/css/mbti/status.css}" rel="stylesheet"/>
  <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
<!-- (상단 레이아웃) 네비게이션 바 -->
<th:block th:replace="navbar :: navbar"></th:block>

<div class="container mt-5">
  <p id="title" th:text="'♥ '+ ${childEntity.childName} + '의 성향'"></p>
  <div class="container white">
    <div class="row text-center">
      <div class="col-md-6">
        <canvas id="mbtiRadarChart"></canvas>
        <div class="mt-4 mbti-type" th:text="${mbtiStatusResponseDto.mbtiType}"></div>
        <p th:text="${mbtiInfoResponseDto.tag}" class="tag"></p>
      </div>
      <div class="col-md-6">
        <div class="info-box p-4 mt-3">
          <h1 th:text="${mbtiInfoResponseDto.suffix}" class="suffix"></h1>
          <h1 th:text="${mbtiInfoResponseDto.emoji}" class="emoji"></h1>
          <p class="description" th:utext="${mbtiInfoResponseDto.content}"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 text-center">
    <form th:action="@{/mbtkids/mbti/history}" method="get">
      <button type="submit" class="btn btn-history">MBTI 히스토리 보기</button>
    </form>
    <form th:action="@{/mbtkids/mbti/status}" method="post" class="mt-4">
      <button type="submit" class="btn btn-delete">MBTI 삭제</button>
    </form>
  </div>
</div>

<script th:inline="javascript">
  var canvasElement = document.getElementById('mbtiRadarChart');

  // 각 타입의 값을 자바스크립트 변수에 저장
  var typeE = /*[[${mbtiStatusResponseDto.typeE}]]*/ 0;
  var typeI = /*[[${mbtiStatusResponseDto.typeI}]]*/ 0;
  var typeS = /*[[${mbtiStatusResponseDto.typeS}]]*/ 0;
  var typeN = /*[[${mbtiStatusResponseDto.typeN}]]*/ 0;
  var typeT = /*[[${mbtiStatusResponseDto.typeT}]]*/ 0;
  var typeF = /*[[${mbtiStatusResponseDto.typeF}]]*/ 0;
  var typeP = /*[[${mbtiStatusResponseDto.typeP}]]*/ 0;
  var typeJ = /*[[${mbtiStatusResponseDto.typeJ}]]*/ 0;

  // 데이터 배열 생성 및 숫자로 변환
  var dataValues = [typeE, typeS, typeF, typeJ, typeI, typeN, typeT, typeP];
  dataValues = dataValues.map(Number);

  // 차트 생성
  var ctx = canvasElement.getContext('2d');
  var radarChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['E', 'S', 'F', 'J', 'I', 'N', 'T', 'P'],
      datasets: [{
        label: 'MBTI 그래프',
        data: dataValues,
        backgroundColor: 'rgba(255, 229, 82, 0.2)', // 수정된 배경색
        borderColor: 'rgba(255, 229, 82, 1)',
        pointBackgroundColor: 'rgba(255, 229, 82, 1)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgba(255, 229, 82, 1)'
      }]
    },
    options: {
      scales: {
        r: {
          min: 0,
          max: 10,
          ticks: {
            stepSize: 1
          },
          pointLabels: {
            font: {
              size: 16,
              weight: 'bold',
              family: 'Pretendard-Bold',
            },
            color: '#332217'
          }
        }
      }
    }
  });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/home.js}"></script>
</body>
</html>
